.navbar {
    @extend %flex-center;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    position: relative;
    &__icon {
        @extend %flex-center;
        position: absolute;
        left: 2rem;
        border: none;
        background: inherit;
        font-size: 2rem;
        color: $dark-bg;
    }
}
