.helper {
    @extend %flex-center;
    flex-flow: column wrap;
    padding: 5rem 2em;

    .helper__title {
        margin-bottom: 1rem;
        width: 100%;
    }

    .helper__deck {
        @extend %flex-center;
        flex-flow: column wrap;
        width: 100%;
    }
}
