@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
.header__title {
  display: flex;
  justify-content: center;
}

.header .search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helper-card__number, .header .search-form .search-bar__icon, .header .search-form .search-bar, .navbar__icon, .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-card {
  box-shadow: 2px 5px 16px 0px #aaaaaa;
}

.helper-card, .card-small {
  box-shadow: 2px 5px 16px 0px #d1d1d1;
}

.presentation--le-delice-des-sens__header, .presentation--a-la-francaise__header, .presentation--la-note-enchantee__header, .presentation--la-palette-du-gout__header {
  background: #f6f6f6;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 100%;
  text-align: center;
  padding: 2.5rem 4rem 2.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presentation--le-delice-des-sens__title, .presentation--a-la-francaise__title, .presentation--la-note-enchantee__title, .presentation--la-palette-du-gout__title {
  font-family: Shrikhand, sans-serif;
  font-size: 2.7rem;
}

.presentation--le-delice-des-sens__icon, .presentation--a-la-francaise__icon, .presentation--la-note-enchantee__icon, .presentation--la-palette-du-gout__icon {
  font-size: 2.4rem;
}

html {
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.header__title,
.navbar__title {
  font-family: Shrikhand, sans-serif;
  font-size: 3rem;
}

.helper__title {
  font-weight: 700;
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  font-size: 2.4rem;
  position: absolute;
  right: 3rem;
}
.container .hearth--solid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: #f6f6f6;
  text-shadow: 0 0 0.2rem black !important;
}
.container .hearth--solid:hover {
  background: linear-gradient(-145deg, #9356dc 15%, #ff79da 85%) !important;
  background-clip: text !important;
  color: transparent;
  text-shadow: 0 0 0 transparent !important;
}

.btn {
  border: inherit;
  border-radius: 4rem;
  background: linear-gradient(-5deg, #9356dc 10%, #ff79da 105%);
  box-shadow: 2px 5px 16px 0px #aaaaaa;
  color: white;
  padding: 1.6rem 2.6rem;
  font-size: 1.6rem;
}

.pop-up {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  background: #99e2d0;
  padding: 0.7rem 1.2rem;
  border-radius: 0.2rem;
}
.pop-up__title {
  color: #217460;
  font-weight: 500;
  font-size: 1.3rem;
}

.restaurant-card {
  width: 100%;
  max-width: 33.5rem;
  height: 25.1rem;
  border-radius: 1.5rem;
  margin: 1rem 0 2rem 0;
}
.restaurant-card__figure {
  position: relative;
}
.restaurant-card__figure img {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  height: 17.4rem;
  width: 100%;
  object-fit: cover;
}
.restaurant-card__body {
  height: 7.7rem;
  font-size: 1.6rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: column wrap;
  position: relative;
}
.restaurant-card__title {
  font-size: 1.6rem;
  font-weight: 700;
}
.restaurant-card__subtitle {
  font-weight: 300;
}

.card-small {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 34.9rem;
  height: 6.9rem;
  background: white;
  margin-bottom: 1.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}
.card-small__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 0rem 0rem 1rem;
  overflow: hidden;
  width: 100%;
}
.card-small__title {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-small__subtitle {
  font-weight: 300;
  font-size: 1.35rem;
  display: inline-block;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-small__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-style: normal;
  width: 60px;
  margin-right: -5rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  transition: margin 400ms;
}
.card-small__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  height: 6.9rem;
  width: 5.9rem;
  background: #99e2d0;
  color: white;
  font-size: 1.6rem;
  flex-shrink: 0;
  transform: translateX(5.9rem);
  transition: transform 400ms;
}
.card-small__checked .fas {
  transform: rotate(90deg);
  transition: transform 300ms 150ms;
}
.card-small:hover .card-small__price {
  margin-right: 1rem;
}
.card-small:hover .card-small__checked {
  transform: translateX(0px);
}
.card-small:hover .card-small__checked > .fas {
  transform: rotate(360deg);
}

.footer {
  background: #353535;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2.7rem 1.5em 3.7rem 1.5em;
}
.footer__title {
  font-family: Shrikhand;
  font-size: 1.7rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.05rem;
}
.footer__action {
  display: flex;
  align-items: baseline;
}
.footer__action i {
  font-size: 1.2rem;
}
.footer__action p {
  margin-left: 0.5rem;
  font-weight: 400;
}
.footer p,
.footer a {
  padding: 0.5rem 0;
}
.footer a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.helper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 5rem 2em;
}
.helper .helper__title {
  margin-bottom: 1rem;
  width: 100%;
}
.helper .helper__deck {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.navbar {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.navbar__icon {
  position: absolute;
  left: 2rem;
  top: 15%;
  border: none;
  background: inherit;
  font-size: 2.1rem;
  color: #353535;
}
.navbar__icon:hover {
  cursor: pointer;
}

.header__title {
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}
.header .search-form {
  background: #f6f6f6;
  text-align: center;
}
.header .search-form .search-bar {
  box-shadow: inset 0 5px 5px -5px #aaaaaa;
  background-color: #eaeaea;
  padding: 1.5rem 0;
  width: 100%;
  color: #353535;
}
.header .search-form .search-bar__icon {
  font-size: 1.6rem;
  padding-right: 1.7rem;
}
.header .search-form .search-bar__input {
  background-color: #eaeaea;
  outline: none;
  border: none;
  font-weight: 700;
  max-width: 35%;
  font-size: 1.5rem;
}
.header .search-form .search-info {
  margin: 3.5rem 0 5.6rem;
}
.header .search-form .search-info__title {
  font-weight: 700;
  font-size: 2.4rem;
  padding: 0 2.4em;
  margin-bottom: 1rem;
}
.header .search-form .search-info__subtitle {
  font-weight: 300;
  font-size: 1.75rem;
  padding: 0 1.75em;
  margin-bottom: 3rem;
}

.helper-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f6f6f6;
  max-width: 33rem;
  width: 100%;
  margin: 1.5rem 1rem;
  padding: 2.5rem 0;
  border-radius: 1.8rem;
  position: relative;
}
.helper-card__number {
  background: #9356dc;
  color: white;
  height: 2.4rem;
  width: 2.4rem;
  font-size: 1.2rem;
  border-radius: 50%;
  position: absolute;
  left: -1.2rem;
}
.helper-card__icon {
  color: #7e7e7e;
  font-size: 2rem;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 2rem 0 3.5rem;
}
.helper-card__title {
  font-weight: 500;
  font-size: 1.6rem;
}

.restaurants-selection {
  padding: 5rem 2em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  width: 100%;
}
.restaurants-selection__title {
  width: 100%;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.restaurants-selection .restaurant-deck {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.presentation--la-palette-du-gout {
  background-image: url("../../public/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: top;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.presentation--la-note-enchantee {
  background-image: url("../../public/img/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.presentation--a-la-francaise {
  background-image: url("../../public/img/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.presentation--le-delice-des-sens {
  background-image: url("../../public/img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.menu {
  background: #f6f6f6;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu .step {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.menu .step__title {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.menu .step__title::after {
  content: "";
  display: block;
  background: #99e2d0;
  margin-top: 0.5rem;
  height: 0.3rem;
  width: 4rem;
}
.menu .step .btn {
  margin: 3rem 0 1.5rem 0;
  padding: 1.6rem 5rem;
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
