.btn {
    border: inherit;
    border-radius: 4rem;
    cursor: pointer;
    background: linear-gradient(
        -5deg,
        $color-primary 10%,
        $color-secondary 105%
    );
    // box-shadow: 2px 5px 16px 0px darken(#eaeaea, 25);
    @include box-shadow(25);
    color: white;
    padding: 1.6rem 2.6rem;
    font-size: 1.6rem;
    transition: all 200ms ease-out;
    &:hover {
        background: linear-gradient(
            -5deg,
            lighten($color-primary, 2) 10%,
            lighten($color-secondary, 2) 105%
        );
        @include box-shadow(40);
    }
}
