.btn {
    border: inherit;
    border-radius: 4rem;
    cursor: pointer;
    background: linear-gradient(
        -5deg,
        $color-primary 10%,
        $color-secondary 105%
    );
    @include box-shadow(25);
    color: white;
    padding: 1.6rem 2.6rem;
    font-size: 1.6rem;
    transition: all 200ms ease-out;
    &:hover {
        @include gradient-bg(-5deg, 10%, 105%);
        @include box-shadow(40);
    }
}
