.btn {
    border: inherit;
    border-radius: 4rem;
    background: linear-gradient(
        -5deg,
        $color-primary 10%,
        $color-secondary 105%
    );
    box-shadow: 2px 5px 16px 0px darken(#eaeaea, 25);
    color: white;
    padding: 1.6rem 2.6rem;
    font-size: 1.6rem;
}
