body {
    position: relative;
    animation: scroll-locker 3s;
    .container {
        height: 100vh;
        width: 100%;
        position: absolute;
        background: rgba(255, 255, 255, 0.9);
        opacity: 0;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: on-display 3s ease-in-out;

        // FIRST SPIN
        .loader {
            display: block;
            position: absolute;
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            border: 0.3rem solid transparent;
            border-top-color: $color-primary;
            animation: spin 2s linear infinite;
            z-index: 99;
        }

        //MIDDLE SPIN
        .loader::before {
            content: "";
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            right: 0.5rem;
            bottom: 0.5rem;
            border-radius: 50%;
            border: 0.3rem solid transparent;
            border-top-color: $color-tertiary;
            animation: spin 3s ease-in-out infinite;
        }

        // LAST SPIN
        .loader::after {
            content: "";
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            right: 1.5rem;
            bottom: 1.5rem;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: $color-secondary;
            animation: spin 1.5s ease-in infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        z-index: 99;
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes on-display {
    0% {
        z-index: 98;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
    }
    33% {
        background: rgba(255, 255, 255, 0.95);
        opacity: 0.95;
    }
    100% {
        z-index: 98;
        background: rgba(255, 255, 255, 0.9);
    }
}

@keyframes scroll-locker {
    0%,
    99% {
        overflow: hidden;
    }
    100% {
        overflow: inherit;
    }
}
