* {
    font-family: "Roboto", sans-serif;
}

.header__title,
.navbar__title {
    font-family: Shrikhand, sans-serif;
    font-size: 3rem;
}
.helper__title {
    font-weight: 700;
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    color: inherit;
}
