// ┌──────────────────────────────────────────────────────────────────────────────┐
// │ REM RULE                                                                     │
// └──────────────────────────────────────────────────────────────────────────────┘
html {
    font-size: 62.5%;
}

// ┌──────────────────────────────────────────────────────────────────────────────┐
// │ FONT PAGE                                                                    │
// └──────────────────────────────────────────────────────────────────────────────┘
* {
    font-family: "Roboto", sans-serif;
}

// ┌──────────────────────────────────────────────────────────────────────────────┐
// │ TITLE                                                                        │
// └──────────────────────────────────────────────────────────────────────────────┘
.header__title,
.navbar__title {
    font-family: Shrikhand, sans-serif;
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: inherit;
}
