.header {
    &__title {
        @extend %flex-x-center;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

.search-form {
    background: #f6f6f6;
    @extend %flex-y-center;
    width: 100%;
    text-align: center;
    .search-bar {
        @extend %flex-center;
        background-color: #eaeaea;
        padding: 1.5rem 0;
        width: 100%;
        color: #353535;

        &__icon {
            @extend %flex-center;
            font-size: 1.6rem;
            padding-right: 1.7rem;
        }

        &__input {
            background-color: #eaeaea;
            outline: none;
            border: none;
            font-weight: 700;
            max-width: 35%;
            font-size: 1.5rem;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 2.4rem;
        padding: 0 2.4em;
    }
    &__subtitle {
        font-weight: 300;
        color: grey;
        font-size: 1.75rem;
        padding: 0 1.75em;
    }
}
