// .helper {
//     // &__card {
//     //     @extend %element-shadow;
//     // }
// }
.helper__deck {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-flow: row wrap;
}
.helper-card {
    @extend %element-shadow;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $darken-bg;
    width: 33rem;
    margin: 1.5rem 0;
    padding: 2.5rem 0;
    border-radius: 1.8rem;
    position: relative;
    &__number {
        @extend %flex-center;
        background: $color-primary;
        color: white;
        height: 2.4rem;
        width: 2.4rem;
        font-size: 1.2rem;
        border-radius: 50%;
        position: absolute;
        left: -1.2rem;
    }
    &__icon {
        @extend %flex-center;
        color: #7e7e7e;
        font-size: 2rem;
        width: 2.4rem;
        height: 2.4rem;
        margin: 0 2rem;
    }
    &__title {
        font-weight: 500;
        font-size: 1.6rem;
    }
}
