// .helper {
//     // &__card {
//     //     @extend %element-shadow;
//     // }
// }
.helper-card {
    @extend %element-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $darken-bg;
    width: 33.8rem;
    padding: 2rem 0;
    border-radius: 1.5rem;
    &__number {
        @extend %flex-center;
        background: $color-primary;
        color: white;
        height: 2.4rem;
        width: 2.4rem;
        font-size: 1.2rem;
        border-radius: 50%;
    }
    &__icon {
        color: #7e7e7e;
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }
    &__title {
        font-weight: 500;
        font-size: 1.6rem;
        padding-right: 8rem;
    }
}
