.restaurants-selection {
    padding: 5rem 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    &__title {
        font-weight: 700;
        font-size: 2.4rem;
        margin-bottom: 1rem;
        align-self: flex-start;
    }
}
