.presentation {
    &--la-palette-du-gout {
        background-image: url("../../public/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-size: cover;
        background-position: top;
        height: 32rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &__header {
            @extend %restaurant-pages-header;
        }
        &__title {
            @extend %restaurant-pages-title;
        }
        &__icon {
            @extend %restaurant-pages-icon;
        }
    }
}

.menu {
    background: $darken-bg;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .step {
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        &__title {
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: 400;
            margin-bottom: 1.5rem;

            &::after {
                content: "";
                display: block;
                background: $color-tertiary;
                margin-top: 0.5rem;
                height: 0.3rem;
                width: 4rem;
            }
        }
        .btn {
            margin: 3rem 0 1.5rem 0;
            padding: 1.6rem 5rem;
            align-self: center;
        }
    }
}
