%flex-x-center {
    display: flex;
    justify-content: center;
}

%flex-y-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%element-shadow {
    box-shadow: 2px 5px 16px 0px darken(#eaeaea, 25);
}

%element-shadow-soft {
    box-shadow: 2px 5px 16px 0px darken(#eaeaea, 10);
}
