// ┌──────────────────────────────────────────────────────────────────────────────┐
// │ COLORS PALLET                                                                │
// └──────────────────────────────────────────────────────────────────────────────┘
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

// ┌──────────────────────────────────────────────────────────────────────────────┐
// │ GREY PALLET                                                                  │
// └──────────────────────────────────────────────────────────────────────────────┘
$grey: #353535;
$grey-mid: lighten($grey, 70deg);
$grey-light: lighten($grey, 75deg);
